<a href="https://colab.research.google.com/github/MuhammadAasim2025/data-science-project/blob/main/air_quality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
df=pd.read_csv('/content/drive/MyDrive/Air_Quality.csv')

In [8]:
df

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,336867,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Winter 2014-15,12/01/2014,23.97,NaN
1,336741,375,Nitrogen dioxide (NO2),Mean,ppb,CD,107,Upper West Side (CD7),Winter 2014-15,12/01/2014,27.42,NaN
2,550157,375,Nitrogen dioxide (NO2),Mean,ppb,CD,414,Rockaway and Broad Channel (CD14),Annual Average 2017,01/01/2017,12.55,NaN
3,412802,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Winter 2015-16,12/01/2015,22.63,NaN
4,412803,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Summer 2016,06/01/2016,14.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
18857,165993,375,Nitrogen dioxide (NO2),Mean,ppb,CD,207,Kingsbridge Heights and Bedford (CD7),Winter 2012-13,12/01/2012,25.78,NaN
18858,338255,386,Ozone (O3),Mean,ppb,CD,107,Upper West Side (CD7),Summer 2015,06/01/2015,28.13,NaN
18859,651029,386,Ozone (O3),Mean,ppb,CD,307,Sunset Park (CD7),Summer 2019,06/01/2019,28.78,NaN
18860,667628,375,Nitrogen dioxide (NO2),Mean,ppb,CD,207,Kingsbridge Heights and Bedford (CD7),Winter 2019-20,12/01/2019,23.68,NaN
18861,167586,375,Nitrogen dioxide (NO2),Mean,ppb,CD,207,Kingsbridge Heights and Bedford (CD7),Annual Average 2010,12/01/2009,23.77,NaN

In [9]:
display(df.iloc[0:31])

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,336867,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Winter 2014-15,12/01/2014,23.970000,NaN
1,336741,375,Nitrogen dioxide (NO2),Mean,ppb,CD,107,Upper West Side (CD7),Winter 2014-15,12/01/2014,27.420000,NaN
2,550157,375,Nitrogen dioxide (NO2),Mean,ppb,CD,414,Rockaway and Broad Channel (CD14),Annual Average 2017,01/01/2017,12.550000,NaN
3,412802,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Winter 2015-16,12/01/2015,22.630000,NaN
4,412803,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Summer 2016,06/01/2016,14.000000,NaN
5,412676,375,Nitrogen dioxide (NO2),Mean,ppb,CD,107,Upper West Side (CD7),Winter 2015-16,12/01/2015,26.430000,NaN
6,412677,375,Nitrogen dioxide (NO2),Mean,ppb,CD,107,Upper West Side (CD7),Summer 2016,06/01/2016,19.100000,NaN
7,603044,375,Nitrogen dioxide (NO2),Mean,ppb,CD,314,Flatbush and Midwood (CD14),Annual Average 2018,01/01/2018,17.280000,NaN
8,412804,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Annual Average 2016,12/31/2015,18.200000,NaN
9,825832,375,Nitrogen dioxide (NO2),Mean,ppb,CD,107,Upper West Side (CD7),Winter 2021-22,12/01/2021,22.075270,NaN
10,741291,375,Nitrogen dioxide (NO2),Mean,ppb,CD,414,Rockaway and Broad Channel (CD14),Annual Average 2021,01/01/2021,11.337294,NaN
11,166679,375,Nitrogen dioxide (NO2),Mean,ppb,CD,414,Rockaway and Broad Channel (CD14),Summer 2009,06/01/2009,8.440000,NaN
12,165912,375,Nitrogen dioxide (NO2),Mean,ppb,CD,414,Rockaway and Broad Channel (CD14),Winter 2010-11,12/01/2010,20.260000,NaN
13,167800,375,Nitrogen dioxide (NO2),Mean,ppb,CD,414,Rockaway and Broad Channel (CD14),Annual Average 2013,12/01/2012,12.540000,NaN
14,336888,375,Nitrogen dioxide (NO2),Mean,ppb,CD,414,Rockaway and Broad Channel (CD14),Winter 2014-15,12/01/2014,20.580000,NaN
15,741290,375,Nitrogen dioxide (NO2),Mean,ppb,CD,414,Rockaway and Broad Channel (CD14),Summer 2021,06/01/2021,4.850858,NaN
16,603098,375,Nitrogen dioxide (NO2),Mean,ppb,CD,414,Rockaway and Broad Channel (CD14),Annual Average 2018,01/01/2018,10.410000,NaN
17,826075,375,Nitrogen dioxide (NO2),Mean,ppb,CD,414,Rockaway and Broad Channel (CD14),Winter 2021-22,12/01/2021,15.702034,NaN
18,170430,365,Fine particles (PM 2.5),Mean,mcg/m3,CD,307,Sunset Park (CD7),Annual Average 2013,12/01/2012,9.180000,NaN
19,410984,365,Fine particles (PM 2.5),Mean,mcg/m3,CD,107,Upper West Side (CD7),Winter 2015-16,12/01/2015,8.850000,NaN
20,742558,365,Fine particles (PM 2.5),Mean,mcg/m3,CD,414,Rockaway and Broad Channel (CD14),Winter 2020-21,12/01/2020,6.331093,NaN
21,169393,365,Fine particles (PM 2.5),Mean,mcg/m3,CD,414,Rockaway and Broad Channel (CD14),Summer 2010,06/01/2010,10.740000,NaN
22,169452,365,Fine particles (PM 2.5),Mean,mcg/m3,CD,414,Rockaway and Broad Channel (CD14),Summer 2011,06/01/2011,10.590000,NaN
23,166856,375,Nitrogen dioxide (NO2),Mean,ppb,CD,414,Rockaway and Broad Channel (CD14),Summer 2012,06/01/2012,8.110000,NaN
24,166915,375,Nitrogen dioxide (NO2),Mean,ppb,CD,414,Rockaway and Broad Channel (CD14),Summer 2013,06/01/2013,7.880000,NaN
25,213253,375,Nitrogen dioxide (NO2),Mean,ppb,CD,307,Sunset Park (CD7),Winter 2013-14,12/01/2013,27.810000,NaN
26,643639,375,Nitrogen dioxide (NO2),Mean,ppb,CD,307,Sunset Park (CD7),Annual Average 2019,01/01/2019,18.520000,NaN
27,603046,375,Nitrogen dioxide (NO2),Mean,ppb,CD,314,Flatbush and Midwood (CD14),Winter 2017-18,12/01/2017,23.470000,NaN
28,643693,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Annual Average 2019,01/01/2019,16.270000,NaN
29,825830,375,Nitrogen dioxide (NO2),Mean,ppb,CD,107,Upper West Side (CD7),Annual Average 2022,01/01/2022,18.170300,NaN
30,603100,375,Nitrogen dioxide (NO2),Mean,ppb,CD,414,Rockaway and Broad Channel (CD14),Winter 2017-18,12/01/2017,14.310000,NaN

In [10]:
df.isnull().sum()

Unique ID             0
Indicator ID          0
Name                  0
Measure               0
Measure Info          0
Geo Type Name         0
Geo Join ID           0
Geo Place Name        0
Time Period           0
Start_Date            0
Data Value            0
Message           18862
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18862 entries, 0 to 18861
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unique ID       18862 non-null  int64
 1   Indicator ID    18862 non-null  int64
 2   Name            18862 non-null  object
 3   Measure         18862 non-null  object
 4   Measure Info    18862 non-null  object
 5   Geo Type Name   18862 non-null  object
 6   Geo Join ID     18862 non-null  int64
 7   Geo Place Name  18862 non-null  object
 8   Time Period     18862 non-null  object
 9   Start_Date      18862 non-null  object
 10  Data Value      18862 non-null  float64
 11  Message         0 non-null      float64
dtypes: float64(2), int64(3), object(7)
memory usage: 1.7+ MB

In [12]:
 df=df.drop(columns=[
    "Message",
    "Geo Join ID",
    "Measure Info"
], errors="ignore")

In [13]:
df

,Unique ID,Indicator ID,Name,Measure,Geo Type Name,Geo Place Name,Time Period,Start_Date,Data Value
0,336867,375,Nitrogen dioxide (NO2),Mean,CD,Flushing and Whitestone (CD7),Winter 2014-15,12/01/2014,23.97
1,336741,375,Nitrogen dioxide (NO2),Mean,CD,Upper West Side (CD7),Winter 2014-15,12/01/2014,27.42
2,550157,375,Nitrogen dioxide (NO2),Mean,CD,Rockaway and Broad Channel (CD14),Annual Average 2017,01/01/2017,12.55
3,412802,375,Nitrogen dioxide (NO2),Mean,CD,Flushing and Whitestone (CD7),Winter 2015-16,12/01/2015,22.63
4,412803,375,Nitrogen dioxide (NO2),Mean,CD,Flushing and Whitestone (CD7),Summer 2016,06/01/2016,14.00
...,...,...,...,...,...,...,...,...,...
18857,165993,375,Nitrogen dioxide (NO2),Mean,CD,Kingsbridge Heights and Bedford (CD7),Winter 2012-13,12/01/2012,25.78
18858,338255,386,Ozone (O3),Mean,CD,Upper West Side (CD7),Summer 2015,06/01/2015,28.13
18859,651029,386,Ozone (O3),Mean,CD,Sunset Park (CD7),Summer 2019,06/01/2019,28.78
18860,667628,375,Nitrogen dioxide (NO2),Mean,CD,Kingsbridge Heights and Bedford (CD7),Winter 2019-20,12/01/2019,23.68
18861,167586,375,Nitrogen dioxide (NO2),Mean,CD,Kingsbridge Heights and Bedford (CD7),Annual Average 2010,12/01/2009,23.77

In [14]:
df.dropna(subset=["Data Value"])

,Unique ID,Indicator ID,Name,Measure,Geo Type Name,Geo Place Name,Time Period,Start_Date,Data Value
0,336867,375,Nitrogen dioxide (NO2),Mean,CD,Flushing and Whitestone (CD7),Winter 2014-15,12/01/2014,23.97
1,336741,375,Nitrogen dioxide (NO2),Mean,CD,Upper West Side (CD7),Winter 2014-15,12/01/2014,27.42
2,550157,375,Nitrogen dioxide (NO2),Mean,CD,Rockaway and Broad Channel (CD14),Annual Average 2017,01/01/2017,12.55
3,412802,375,Nitrogen dioxide (NO2),Mean,CD,Flushing and Whitestone (CD7),Winter 2015-16,12/01/2015,22.63
4,412803,375,Nitrogen dioxide (NO2),Mean,CD,Flushing and Whitestone (CD7),Summer 2016,06/01/2016,14.00
...,...,...,...,...,...,...,...,...,...
18857,165993,375,Nitrogen dioxide (NO2),Mean,CD,Kingsbridge Heights and Bedford (CD7),Winter 2012-13,12/01/2012,25.78
18858,338255,386,Ozone (O3),Mean,CD,Upper West Side (CD7),Summer 2015,06/01/2015,28.13
18859,651029,386,Ozone (O3),Mean,CD,Sunset Park (CD7),Summer 2019,06/01/2019,28.78
18860,667628,375,Nitrogen dioxide (NO2),Mean,CD,Kingsbridge Heights and Bedford (CD7),Winter 2019-20,12/01/2019,23.68
18861,167586,375,Nitrogen dioxide (NO2),Mean,CD,Kingsbridge Heights and Bedford (CD7),Annual Average 2010,12/01/2009,23.77

In [15]:
df = df.dropna(subset=[
    "Name",
    "Geo Place Name",
    "Time Period",
    "Start_Date"
])

In [16]:
df

,Unique ID,Indicator ID,Name,Measure,Geo Type Name,Geo Place Name,Time Period,Start_Date,Data Value
0,336867,375,Nitrogen dioxide (NO2),Mean,CD,Flushing and Whitestone (CD7),Winter 2014-15,12/01/2014,23.97
1,336741,375,Nitrogen dioxide (NO2),Mean,CD,Upper West Side (CD7),Winter 2014-15,12/01/2014,27.42
2,550157,375,Nitrogen dioxide (NO2),Mean,CD,Rockaway and Broad Channel (CD14),Annual Average 2017,01/01/2017,12.55
3,412802,375,Nitrogen dioxide (NO2),Mean,CD,Flushing and Whitestone (CD7),Winter 2015-16,12/01/2015,22.63
4,412803,375,Nitrogen dioxide (NO2),Mean,CD,Flushing and Whitestone (CD7),Summer 2016,06/01/2016,14.00
...,...,...,...,...,...,...,...,...,...
18857,165993,375,Nitrogen dioxide (NO2),Mean,CD,Kingsbridge Heights and Bedford (CD7),Winter 2012-13,12/01/2012,25.78
18858,338255,386,Ozone (O3),Mean,CD,Upper West Side (CD7),Summer 2015,06/01/2015,28.13
18859,651029,386,Ozone (O3),Mean,CD,Sunset Park (CD7),Summer 2019,06/01/2019,28.78
18860,667628,375,Nitrogen dioxide (NO2),Mean,CD,Kingsbridge Heights and Bedford (CD7),Winter 2019-20,12/01/2019,23.68
18861,167586,375,Nitrogen dioxide (NO2),Mean,CD,Kingsbridge Heights and Bedford (CD7),Annual Average 2010,12/01/2009,23.77

In [17]:
df["Start_Date"] = pd.to_datetime(df["Start_Date"], errors="coerce")
df = df.dropna(subset=["Start_Date"])

In [18]:
df["Year"] = df["Start_Date"].dt.year
df["Month"] = df["Start_Date"].dt.month

In [19]:
df

,Unique ID,Indicator ID,Name,Measure,Geo Type Name,Geo Place Name,Time Period,Start_Date,Data Value,Year,Month
0,336867,375,Nitrogen dioxide (NO2),Mean,CD,Flushing and Whitestone (CD7),Winter 2014-15,2014-12-01,23.97,2014,12
1,336741,375,Nitrogen dioxide (NO2),Mean,CD,Upper West Side (CD7),Winter 2014-15,2014-12-01,27.42,2014,12
2,550157,375,Nitrogen dioxide (NO2),Mean,CD,Rockaway and Broad Channel (CD14),Annual Average 2017,2017-01-01,12.55,2017,1
3,412802,375,Nitrogen dioxide (NO2),Mean,CD,Flushing and Whitestone (CD7),Winter 2015-16,2015-12-01,22.63,2015,12
4,412803,375,Nitrogen dioxide (NO2),Mean,CD,Flushing and Whitestone (CD7),Summer 2016,2016-06-01,14.00,2016,6
...,...,...,...,...,...,...,...,...,...,...,...
18857,165993,375,Nitrogen dioxide (NO2),Mean,CD,Kingsbridge Heights and Bedford (CD7),Winter 2012-13,2012-12-01,25.78,2012,12
18858,338255,386,Ozone (O3),Mean,CD,Upper West Side (CD7),Summer 2015,2015-06-01,28.13,2015,6
18859,651029,386,Ozone (O3),Mean,CD,Sunset Park (CD7),Summer 2019,2019-06-01,28.78,2019,6
18860,667628,375,Nitrogen dioxide (NO2),Mean,CD,Kingsbridge Heights and Bedford (CD7),Winter 2019-20,2019-12-01,23.68,2019,12
18861,167586,375,Nitrogen dioxide (NO2),Mean,CD,Kingsbridge Heights and Bedford (CD7),Annual Average 2010,2009-12-01,23.77,2009,12

In [20]:
text_cols = ["Name", "Geo Place Name", "Geo Type Name", "Time Period"]

for col in text_cols:
    df[col] = df[col].str.strip().str.lower()

In [21]:
df

,Unique ID,Indicator ID,Name,Measure,Geo Type Name,Geo Place Name,Time Period,Start_Date,Data Value,Year,Month
0,336867,375,nitrogen dioxide (no2),Mean,cd,flushing and whitestone (cd7),winter 2014-15,2014-12-01,23.97,2014,12
1,336741,375,nitrogen dioxide (no2),Mean,cd,upper west side (cd7),winter 2014-15,2014-12-01,27.42,2014,12
2,550157,375,nitrogen dioxide (no2),Mean,cd,rockaway and broad channel (cd14),annual average 2017,2017-01-01,12.55,2017,1
3,412802,375,nitrogen dioxide (no2),Mean,cd,flushing and whitestone (cd7),winter 2015-16,2015-12-01,22.63,2015,12
4,412803,375,nitrogen dioxide (no2),Mean,cd,flushing and whitestone (cd7),summer 2016,2016-06-01,14.00,2016,6
...,...,...,...,...,...,...,...,...,...,...,...
18857,165993,375,nitrogen dioxide (no2),Mean,cd,kingsbridge heights and bedford (cd7),winter 2012-13,2012-12-01,25.78,2012,12
18858,338255,386,ozone (o3),Mean,cd,upper west side (cd7),summer 2015,2015-06-01,28.13,2015,6
18859,651029,386,ozone (o3),Mean,cd,sunset park (cd7),summer 2019,2019-06-01,28.78,2019,6
18860,667628,375,nitrogen dioxide (no2),Mean,cd,kingsbridge heights and bedford (cd7),winter 2019-20,2019-12-01,23.68,2019,12
18861,167586,375,nitrogen dioxide (no2),Mean,cd,kingsbridge heights and bedford (cd7),annual average 2010,2009-12-01,23.77,2009,12

In [22]:
display(df.iloc[0:31])

,Unique ID,Indicator ID,Name,Measure,Geo Type Name,Geo Place Name,Time Period,Start_Date,Data Value,Year,Month
0,336867,375,nitrogen dioxide (no2),Mean,cd,flushing and whitestone (cd7),winter 2014-15,2014-12-01,23.970000,2014,12
1,336741,375,nitrogen dioxide (no2),Mean,cd,upper west side (cd7),winter 2014-15,2014-12-01,27.420000,2014,12
2,550157,375,nitrogen dioxide (no2),Mean,cd,rockaway and broad channel (cd14),annual average 2017,2017-01-01,12.550000,2017,1
3,412802,375,nitrogen dioxide (no2),Mean,cd,flushing and whitestone (cd7),winter 2015-16,2015-12-01,22.630000,2015,12
4,412803,375,nitrogen dioxide (no2),Mean,cd,flushing and whitestone (cd7),summer 2016,2016-06-01,14.000000,2016,6
5,412676,375,nitrogen dioxide (no2),Mean,cd,upper west side (cd7),winter 2015-16,2015-12-01,26.430000,2015,12
6,412677,375,nitrogen dioxide (no2),Mean,cd,upper west side (cd7),summer 2016,2016-06-01,19.100000,2016,6
7,603044,375,nitrogen dioxide (no2),Mean,cd,flatbush and midwood (cd14),annual average 2018,2018-01-01,17.280000,2018,1
8,412804,375,nitrogen dioxide (no2),Mean,cd,flushing and whitestone (cd7),annual average 2016,2015-12-31,18.200000,2015,12
9,825832,375,nitrogen dioxide (no2),Mean,cd,upper west side (cd7),winter 2021-22,2021-12-01,22.075270,2021,12
10,741291,375,nitrogen dioxide (no2),Mean,cd,rockaway and broad channel (cd14),annual average 2021,2021-01-01,11.337294,2021,1
11,166679,375,nitrogen dioxide (no2),Mean,cd,rockaway and broad channel (cd14),summer 2009,2009-06-01,8.440000,2009,6
12,165912,375,nitrogen dioxide (no2),Mean,cd,rockaway and broad channel (cd14),winter 2010-11,2010-12-01,20.260000,2010,12
13,167800,375,nitrogen dioxide (no2),Mean,cd,rockaway and broad channel (cd14),annual average 2013,2012-12-01,12.540000,2012,12
14,336888,375,nitrogen dioxide (no2),Mean,cd,rockaway and broad channel (cd14),winter 2014-15,2014-12-01,20.580000,2014,12
15,741290,375,nitrogen dioxide (no2),Mean,cd,rockaway and broad channel (cd14),summer 2021,2021-06-01,4.850858,2021,6
16,603098,375,nitrogen dioxide (no2),Mean,cd,rockaway and broad channel (cd14),annual average 2018,2018-01-01,10.410000,2018,1
17,826075,375,nitrogen dioxide (no2),Mean,cd,rockaway and broad channel (cd14),winter 2021-22,2021-12-01,15.702034,2021,12
18,170430,365,fine particles (pm 2.5),Mean,cd,sunset park (cd7),annual average 2013,2012-12-01,9.180000,2012,12
19,410984,365,fine particles (pm 2.5),Mean,cd,upper west side (cd7),winter 2015-16,2015-12-01,8.850000,2015,12
20,742558,365,fine particles (pm 2.5),Mean,cd,rockaway and broad channel (cd14),winter 2020-21,2020-12-01,6.331093,2020,12
21,169393,365,fine particles (pm 2.5),Mean,cd,rockaway and broad channel (cd14),summer 2010,2010-06-01,10.740000,2010,6
22,169452,365,fine particles (pm 2.5),Mean,cd,rockaway and broad channel (cd14),summer 2011,2011-06-01,10.590000,2011,6
23,166856,375,nitrogen dioxide (no2),Mean,cd,rockaway and broad channel (cd14),summer 2012,2012-06-01,8.110000,2012,6
24,166915,375,nitrogen dioxide (no2),Mean,cd,rockaway and broad channel (cd14),summer 2013,2013-06-01,7.880000,2013,6
25,213253,375,nitrogen dioxide (no2),Mean,cd,sunset park (cd7),winter 2013-14,2013-12-01,27.810000,2013,12
26,643639,375,nitrogen dioxide (no2),Mean,cd,sunset park (cd7),annual average 2019,2019-01-01,18.520000,2019,1
27,603046,375,nitrogen dioxide (no2),Mean,cd,flatbush and midwood (cd14),winter 2017-18,2017-12-01,23.470000,2017,12
28,643693,375,nitrogen dioxide (no2),Mean,cd,flushing and whitestone (cd7),annual average 2019,2019-01-01,16.270000,2019,1
29,825830,375,nitrogen dioxide (no2),Mean,cd,upper west side (cd7),annual average 2022,2022-01-01,18.170300,2022,1
30,603100,375,nitrogen dioxide (no2),Mean,cd,rockaway and broad channel (cd14),winter 2017-18,2017-12-01,14.310000,2017,12

In [23]:
df_encoded = pd.get_dummies(
    df,
    columns=["Name", "Geo Place Name", "Geo Type Name", "Time Period"],
    drop_first=True
)

In [24]:
df

,Unique ID,Indicator ID,Name,Measure,Geo Type Name,Geo Place Name,Time Period,Start_Date,Data Value,Year,Month
0,336867,375,nitrogen dioxide (no2),Mean,cd,flushing and whitestone (cd7),winter 2014-15,2014-12-01,23.97,2014,12
1,336741,375,nitrogen dioxide (no2),Mean,cd,upper west side (cd7),winter 2014-15,2014-12-01,27.42,2014,12
2,550157,375,nitrogen dioxide (no2),Mean,cd,rockaway and broad channel (cd14),annual average 2017,2017-01-01,12.55,2017,1
3,412802,375,nitrogen dioxide (no2),Mean,cd,flushing and whitestone (cd7),winter 2015-16,2015-12-01,22.63,2015,12
4,412803,375,nitrogen dioxide (no2),Mean,cd,flushing and whitestone (cd7),summer 2016,2016-06-01,14.00,2016,6
...,...,...,...,...,...,...,...,...,...,...,...
18857,165993,375,nitrogen dioxide (no2),Mean,cd,kingsbridge heights and bedford (cd7),winter 2012-13,2012-12-01,25.78,2012,12
18858,338255,386,ozone (o3),Mean,cd,upper west side (cd7),summer 2015,2015-06-01,28.13,2015,6
18859,651029,386,ozone (o3),Mean,cd,sunset park (cd7),summer 2019,2019-06-01,28.78,2019,6
18860,667628,375,nitrogen dioxide (no2),Mean,cd,kingsbridge heights and bedford (cd7),winter 2019-20,2019-12-01,23.68,2019,12
18861,167586,375,nitrogen dioxide (no2),Mean,cd,kingsbridge heights and bedford (cd7),annual average 2010,2009-12-01,23.77,2009,12

In [25]:
df_encoded = df_encoded.drop(columns=["Start_Date"], errors="ignore")

In [26]:
df_encoded

,Unique ID,Indicator ID,Measure,Data Value,Year,Month,Name_annual vehicle miles traveled (cars),Name_annual vehicle miles traveled (trucks),Name_asthma emergency department visits due to pm2.5,Name_asthma emergency departments visits due to ozone,...,Time Period_winter 2013-14,Time Period_winter 2014-15,Time Period_winter 2015-16,Time Period_winter 2016-17,Time Period_winter 2017-18,Time Period_winter 2018-19,Time Period_winter 2019-20,Time Period_winter 2020-21,Time Period_winter 2021-22,Time Period_winter 2022-23
0,336867,375,Mean,23.97,2014,12,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,336741,375,Mean,27.42,2014,12,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,550157,375,Mean,12.55,2017,1,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,412802,375,Mean,22.63,2015,12,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4,412803,375,Mean,14.00,2016,6,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18857,165993,375,Mean,25.78,2012,12,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18858,338255,386,Mean,28.13,2015,6,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18859,651029,386,Mean,28.78,2019,6,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18860,667628,375,Mean,23.68,2019,12,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
18861,167586,375,Mean,23.77,2009,12,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [27]:
df["Data Value"] = pd.to_numeric(df["Data Value"], errors="coerce")
df = df.dropna(subset=["Data Value"])

In [28]:
df["Data Value"] = (
    pd.to_numeric(df["Data Value"], errors="coerce")
    .round(2)
)
df = df.dropna(subset=["Data Value"])

In [29]:
df

,Unique ID,Indicator ID,Name,Measure,Geo Type Name,Geo Place Name,Time Period,Start_Date,Data Value,Year,Month
0,336867,375,nitrogen dioxide (no2),Mean,cd,flushing and whitestone (cd7),winter 2014-15,2014-12-01,23.97,2014,12
1,336741,375,nitrogen dioxide (no2),Mean,cd,upper west side (cd7),winter 2014-15,2014-12-01,27.42,2014,12
2,550157,375,nitrogen dioxide (no2),Mean,cd,rockaway and broad channel (cd14),annual average 2017,2017-01-01,12.55,2017,1
3,412802,375,nitrogen dioxide (no2),Mean,cd,flushing and whitestone (cd7),winter 2015-16,2015-12-01,22.63,2015,12
4,412803,375,nitrogen dioxide (no2),Mean,cd,flushing and whitestone (cd7),summer 2016,2016-06-01,14.00,2016,6
...,...,...,...,...,...,...,...,...,...,...,...
18857,165993,375,nitrogen dioxide (no2),Mean,cd,kingsbridge heights and bedford (cd7),winter 2012-13,2012-12-01,25.78,2012,12
18858,338255,386,ozone (o3),Mean,cd,upper west side (cd7),summer 2015,2015-06-01,28.13,2015,6
18859,651029,386,ozone (o3),Mean,cd,sunset park (cd7),summer 2019,2019-06-01,28.78,2019,6
18860,667628,375,nitrogen dioxide (no2),Mean,cd,kingsbridge heights and bedford (cd7),winter 2019-20,2019-12-01,23.68,2019,12
18861,167586,375,nitrogen dioxide (no2),Mean,cd,kingsbridge heights and bedford (cd7),annual average 2010,2009-12-01,23.77,2009,12

In [30]:
from sklearn.preprocessing import MinMaxScaler

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Fit and transform the 'Data Value' column
df['Data Value Normalized'] = scaler.fit_transform(df[['Data Value']])

display(df[['Data Value', 'Data Value Normalized']].head())

   Data Value  Data Value Normalized
0       23.97               0.056440
1       27.42               0.064563
2       12.55               0.029550
3       22.63               0.053285
4       14.00               0.032964

In [31]:
df['Day_of_Week'] = df['Start_Date'].dt.dayofweek
df['Day_of_Year'] = df['Start_Date'].dt.dayofyear

display(df[['Start_Date', 'Day_of_Week', 'Day_of_Year']].head())

  Start_Date  Day_of_Week  Day_of_Year
0 2014-12-01            0          335
1 2014-12-01            0          335
2 2017-01-01            6            1
3 2015-12-01            1          335
4 2016-06-01            2          153